<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="~/Content/raonhanh/css/style.css" rel="stylesheet" />
    <!-- <script src="homepage.js"></script> -->
    <!-- <link rel="stylesheet" href="homepage.js"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
    <!-- menu nhỏ -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background:#392F30!important;height: 35px;padding: 0px;">
        <a class="navbar-brand" href="#"><img class="logo" src="~/Content/raonhanh/img/logo.png" alt=""></a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
                </button> -->

        <div class="collapse navbar-collapse menuSmall" id="menuCon">
            <ul class="navbar-nav mr-auto hotline">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Đăng Nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active sohotline" href="#">HOTLINE: 0989.888.888</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- end menu nhỏ -->
    <!-- menu lớn -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:white!important;box-shadow: 0px 0px 5px grey;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="navbar-nav mr-auto">
                            <div class="col-sm-3">
                                <li class="nav-item active">
                                    <a class="nav-link home" href="index.html">HOME<span class="sr-only">(current)</span></a>
                                </li>
                            </div>
                            <div class="col-sm-6 danhmuc" style="display:flex;">
                                <li class="nav-item">
                                    <a class="nav-link active" href="gioithieu.html">Giới Thiệu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="batdongsan.html">Bất Động Sản</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="dichvuvieclam.html">Dịch Vụ Việc Làm</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="dichvuquangcao.html">Dịch Vụ Quảng Cáo</a>
                                </li>
                            </div>
                            <div class="col-sm-3 search">
                                <form class="form-inline my-2 my-lg-0" style="float:right;">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- end menuLon -->
    <!-- tin tức -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 sidebar_left">
                <br>
                <a href="dangtin.html" id="post_info">
                    <img src="~/Content/raonhanh/img/dangtinmienphi.jpg" class="post_info img-fluid" alt="">
                </a>
                <br>
                <br>
                <ul class="list-group hide">
                    <li class="list-group-item card-header dm_left">BẤT ĐỘNG SẢN</li>
                    <a href="">
                        <li class="list-group-item">Cần Bán Nhà</li>
                    </a>
                    <a href="">
                        <li class="list-group-item">Cần Bán Đất</li>
                    </a>
                    <a href="">
                        <li class="list-group-item">Cần Mua Nhà</li>
                    </a>
                    <a href="">
                        <li class="list-group-item">Cần Mua Đất</li>
                    </a>
                </ul>
                <br><br><br><br>
                <ul class="list-group hide">
                    <li class="list-group-item card-header dm_left">DỊCH VỤ VIỆC LÀM</li>
                    <a href="">
                        <li class="list-group-item">Người Tìm Việc</li>
                    </a>
                    <a href="">
                        <li class="list-group-item">Việc Tìm Người</li>
                    </a>
                </ul>
                <br><br><br><br>
                <ul class="list-group hide">
                    <li class="list-group-item card-header dm_left">DỊCH VỤ QUẢNG CÁO</li>
                    <a href="">
                        <li class="list-group-item">Giới Thiệu Dịch Vụ</li>
                    </a>
                    <a href="">
                        <li class="list-group-item">Giới Thiệu Công Ty</li>
                    </a>
                </ul>
                <br><br><br><br><br>
                <iframe class="hide" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.95156422788!2d108.204689815956!3d16.016036702605938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421a26c7838505%3A0xd53d0e7a2b58bba3!2zMTE3IFBo4bqhbSBU4bupLCBLaHXDqsO1IFRydW5nLCBD4bqpbSBM4buHLCDEkMOgIE7hurVuZyA1NTAwMDAsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1537519828206"
                        width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
            @RenderBody()
            <!-- hết col-sm-9 -->
        </div>
    </div>
    <!-- hết tin tức -->
    <!-- footer -->
    <div class="container-fluid">
        <div class="row _footer">
            <div class="col-sm-12 footer">
                <div class="col-sm-4"><img src="~/Content/raonhanh/img/logo.png" class="logo_footer" alt=""></div>
                <div class="col-sm-4 information">
                    <div class="info_detail">
                        <p>Location:</p>
                        <p>Hotline:</p>
                        <p>Support:</p>
                        <p>Copy-right 2018 Design by web1s.net</p>
                    </div>
                </div>
                <div class="col-sm-4">

                </div>
            </div>
        </div>
    </div>
    <!-- hết footer -->
    <div class="container-fluid">
        <div class="row _footer2"></div>
    </div>
</body>

</html>