@model NetCore.Models.ViewModel.ProductDTO

<div class="col-sm-9">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#batdongsan" role="tab" aria-controls="home" aria-selected="true">Bất động sản</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#dichvuvieclam" role="tab" aria-controls="profile" aria-selected="false">Dịch vụ việc làm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#dichvuquangcao" role="tab" aria-controls="contact" aria-selected="false">Dịch vụ quảng cáo</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="batdongsan" role="tabpanel" aria-labelledby="home-tab">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Name" class="form-control" type="hidden" value="2" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Area" class="control-label"></label>
                            <div class="input-group mb-2 mr-sm-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">m2</div>
                                </div>
                                <input asp-for="Area" class="form-control" />
                            </div>
                            <span asp-validation-for="Area" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Seller" class="control-label"></label>
                            <input asp-for="Seller" class="form-control" />
                            <span asp-validation-for="Seller" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PostingCategoryId" class="control-label"></label>
                            <select asp-for="PostingCategoryId" class="form-control" asp-items="ViewBag.PostingCategoryId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label asp-for="Provice" class="control-label"></label>
                                    <select asp-for="Provice" class="form-control" asp-items="ViewBag.Provice">
                                        <option value="">Vui lòng chọn tỉnh/ thành phố</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="District" class="control-label"></label>
                                    <select asp-for="District" class="form-control">
                                        <option value="">Vui lòng chọn quận/ huyện</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="AddressDetail" class="control-label"></label>
                            <input asp-for="AddressDetail" class="form-control" />
                            <span asp-validation-for="AddressDetail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="OldPrice" class="control-label"></label>
                            <input asp-for="OldPrice" class="form-control" />
                            <span asp-validation-for="OldPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ItemCategoryId" class="control-label"></label>
                            <select asp-for="ItemCategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.ItemCategoryId, "Id" ,"Name"))"></select>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="ShortDescription" class="control-label"></label>
                            <textarea asp-for="ShortDescription" class="form-control" rows="5" cols="40"></textarea>
                            <span asp-validation-for="ShortDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <a href="#" class="btn btn-default">Hủy bỏ</a>
                            <input type="submit" value="Tạo mới" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="dichvuvieclam" role="tabpanel" aria-labelledby="profile-tab">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Name" class="form-control" type="hidden" value="2" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="NameCompany" class="control-label"></label>
                            <input asp-for="NameCompany" class="form-control" />
                            <span asp-validation-for="NameCompany" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Recruiter" class="control-label"></label>
                            <input asp-for="Recruiter" class="form-control" />
                            <span asp-validation-for="Recruiter" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CapacityPeople" class="control-label"></label>
                            <input asp-for="CapacityPeople" class="form-control" />
                            <span asp-validation-for="CapacityPeople" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="AddressId" class="control-label"></label>
                            <select asp-for="AddressId" class="form-control" asp-items="ViewBag.AddressId"></select>
                        </div>

                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ItemCategoryId" class="control-label"></label>
                            @*<select asp-for="ItemCategoryId" class="form-control" asp-items="ViewBag.ItemCategoryId"></select>*@
                        </div>
                        <div class="form-group">
                            <label asp-for="PostingCategoryId" class="control-label"></label>
                            <select asp-for="PostingCategoryId" class="form-control" asp-items="ViewBag.PostingCategoryId"></select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="ShortDescription" class="control-label"></label>
                            <textarea asp-for="ShortDescription" class="form-control" rows="5" cols="40"></textarea>
                            <span asp-validation-for="ShortDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>

        </div>
        <div class="tab-pane fade" id="dichvuquangcao" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>

</div>
<script>
    $('#Provice').change(function () {
        
        $.ajax({
            url: '/Product/GetDistrict/' + $('#Provice').val(),
            method: 'get',
            success: function (data) {
                $('#District').html('');
                Array.from(data).forEach(function (distric) {
                    console.log(distric);
                    var option = "<option value=" + distric.id + ">" + distric.name + "</option>";
                    $('#District').append(option);
                });
            },
            error: function () {
                var option = "<option value=''>Chọn</option>";
                $('#District').append(option);
            }
        })
    })
</script>