@model IEnumerable<NetCore.Models.EntitiesFramework.Product>
@{
    Layout = null;
}
<style>
    .photobooth_black > li > a {
        color: #000000 !important;
    }
</style>
<nav class="photobooth_menu_cont">
    <ul id="menu-main-menu" class="photobooth_menu @(ViewBag.IsMenuBlack!=null?"photobooth_black":"")">
        <li class="menu-item"><a href="/">Trang chủ</a></li>
        <li class="menu-item">
            <a href="~/Home/Categories">Album ảnh</a>
            <ul class="sub-menu">
                @foreach (var product in Model)
                {
                    <li class="menu-item photobooth_sub_menu_active"><a href="~/Product/@product.ProductAlias">@product.Name</a></li>
                }
            </ul>
        </li>
        <li class="menu-item"><a href="~/Price">Giá</a></li>
        <li class=" menu-item">
            <a href="#">So sánh</a>
            <ul class="sub-menu">
                @foreach (var product in Model)
                {
                    <li class="menu-item"><a href="~/Product/Compare/@product.ProductAlias">@product.Name</a></li>
                }
            </ul>
        </li>
        <li class="menu-item"><a href="~/Connect">Liên hệ</a></li>
    </ul>
</nav>
<script src="~/Content/studio/js/index.js"></script>