@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-9">
    <!--  -->
    <div class="dm">
        <hr class="ke">
        <div class="dm_1">BẤT ĐỘNG SẢN</div>
    </div>
    <div class="card-deck-wrapper">
        <div class="card-deck muabannha">
            <!-- <div class="row"> -->
            <div class="col-sm-12 col2">
                <div class="card col-sm-3">
                    <a href="detail_batdongsan.html">
                        <img class="card-img-top" src="~/Content/raonhanh/img/tin3.jpg" alt="Card image cap">
                        <div class="card-block">
                            <p class="card-title text-center"><b>Bán Nhà Cấp 4</b></p>
                            <p class="card-title">Địa chỉ: Thanh Khê-Đà Năng</p>
                            <p class="card-title"><small class="text-muted">Diện tích:100m2</small></p>
                            <p class="card-title"><small class="text-muted">Giá Bán:2 tỷ</small></p>
                            <button type="submit" class="btn btn-success form-control">Chi Tiết</button>
                        </div>
                    </a>
                </div>
                <div class="card col-sm-3">
                    <a href="detail_batdongsan.html">
                        <img class="card-img-top" src="~/Content/raonhanh/img/tin3.jpg" alt="Card image cap">
                        <div class="card-block">
                            <p class="card-title text-center"><b>Bán Nhà Cấp 4</b></p>
                            <p class="card-title">Địa chỉ: Thanh Khê-Đà Năng</p>
                            <p class="card-title"><small class="text-muted">Diện tích:100m2</small></p>
                            <p class="card-title"><small class="text-muted">Giá Bán:2 tỷ</small></p>
                            <button type="submit" class="btn btn-success form-control">Chi Tiết</button>
                        </div>
                    </a>
                </div>
                <div class="card col-sm-3">
                    <a href="detail_batdongsan.html">
                        <img class="card-img-top" src="~/Content/raonhanh/img/tin3.jpg" alt="Card image cap">
                        <div class="card-block">
                            <p class="card-title text-center"><b>Bán Nhà Cấp 4</b></p>
                            <p class="card-title">Địa chỉ: Thanh Khê-Đà Năng</p>
                            <p class="card-title"><small class="text-muted">Diện tích:100m2</small></p>
                            <p class="card-title"><small class="text-muted">Giá Bán:2 tỷ</small></p>
                            <button type="submit" class="btn btn-success form-control">Chi Tiết</button>
                        </div>
                    </a>
                </div>
                <div class="card col-sm-3">
                    <a href="detail_batdongsan.html">
                        <img class="card-img-top" src="~/Content/raonhanh/img/tin3.jpg" alt="Card image cap">
                        <div class="card-block">
                            <p class="card-title text-center"><b>Bán Nhà Cấp 4</b></p>
                            <p class="card-title">Địa chỉ: Thanh Khê-Đà Năng</p>
                            <p class="card-title"><small class="text-muted">Diện tích:100m2</small></p>
                            <p class="card-title"><small class="text-muted">Giá Bán:2 tỷ</small></p>
                            <button type="submit" class="btn btn-success form-control">Chi Tiết</button>
                        </div>
                    </a>
                </div>
                <div class="card col-sm-3">
                    <a href="detail_batdongsan.html">
                        <img class="card-img-top" src="~/Content/raonhanh/img/tin3.jpg" alt="Card image cap">
                        <div class="card-block">
                            <p class="card-title text-center"><b>Bán Nhà Cấp 4</b></p>
                            <p class="card-title">Địa chỉ: Thanh Khê-Đà Năng</p>
                            <p class="card-title"><small class="text-muted">Diện tích:100m2</small></p>
                            <p class="card-title"><small class="text-muted">Giá Bán:2 tỷ</small></p>
                            <button type="submit" class="btn btn-success form-control">Chi Tiết</button>
                        </div>
                    </a>
                </div>
                <div class="card col-sm-3">
                    <a href="detail_batdongsan.html">
                        <img class="card-img-top" src="~/Content/raonhanh/img/tin3.jpg" alt="Card image cap">
                        <div class="card-block">
                            <p class="card-title text-center"><b>Bán Nhà Cấp 4</b></p>
                            <p class="card-title">Địa chỉ: Thanh Khê-Đà Năng</p>
                            <p class="card-title"><small class="text-muted">Diện tích:100m2</small></p>
                            <p class="card-title"><small class="text-muted">Giá Bán:2 tỷ</small></p>
                            <button type="submit" class="btn btn-success form-control">Chi Tiết</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <div class="dm">
        <hr class="ke">
        <div class="dm_1">DỊCH VỤ VIỆC LÀM</div>
      
    </div>
    <div class="card-deck-wrapper">
        <div class="card-deck muabannha">
            <!-- <div class="row"> -->
            <div class="col-sm-12 col2">
                <div class="card col-sm-3">
                    <a href="detail_dichvuvieclam.html">
                        <img class="card-img-top" src="~/Content/raonhanh/img/tin3.jpg" alt="Card image cap">
                        <div class="card-block">
                            <p class="card-title text-center"><b>Tên Công Ty</b></p>
                            <p class="card-title"><i class="fas fa-map-marked-alt"></i> Thanh Khê-Đà Năng</p>
                            <p class="card-title"><small class="text-muted"><i class="fas fa-users"></i> 100 Người</small> <small class="text-muted text-center"><i class="far fa-calendar-alt"></i> T2-T6</small></p>
                            <p class="card-title"><small class="text-muted"><i class="fas fa-hand-holding-usd"></i> 8.000.000 vnd</small></p>
                            <button type="submit" class="btn btn-success form-control">Chi Tiết</button>
                        </div>
                    </a>
                </div>
                <div class="card col-sm-3">
                    <a href="detail_dichvuvieclam.html">
                        <img class="card-img-top" src="~/Content/raonhanh/img/tin3.jpg" alt="Card image cap">
                        <div class="card-block">
                            <p class="card-title text-center"><b>Tên Công Ty</b></p>
                            <p class="card-title"><i class="fas fa-map-marked-alt"></i> Thanh Khê-Đà Năng</p>
                            <p class="card-title"><small class="text-muted"><i class="fas fa-users"></i> 100 Người</small> <small class="text-muted text-center"><i class="far fa-calendar-alt"></i> T2-T6</small></p>
                            <p class="card-title"><small class="text-muted"><i class="fas fa-hand-holding-usd"></i> 8.000.000 vnd</small></p>
                            <button type="submit" class="btn btn-success form-control">Chi Tiết</button>
                        </div>
                    </a>
                </div>
                <div class="card col-sm-3">
                    <a href="detail_dichvuvieclam.html">
                        <img class="card-img-top" src="~/Content/raonhanh/img/tin3.jpg" alt="Card image cap">
                        <div class="card-block">
                            <p class="card-title text-center"><b>Tên Công Ty</b></p>
                            <p class="card-title"><i class="fas fa-map-marked-alt"></i> Thanh Khê-Đà Năng</p>
                            <p class="card-title"><small class="text-muted"><i class="fas fa-users"></i> 100 Người</small> <small class="text-muted text-center"><i class="far fa-calendar-alt"></i> T2-T6</small></p>
                            <p class="card-title"><small class="text-muted"><i class="fas fa-hand-holding-usd"></i> 8.000.000 vnd</small></p>
                            <button type="submit" class="btn btn-success form-control">Chi Tiết</button>
                        </div>
                    </a>
                </div>
                <div class="card col-sm-3">
                    <a href="detail_dichvuvieclam.html">
                        <img class="card-img-top" src="~/Content/raonhanh/img/tin3.jpg" alt="Card image cap">
                        <div class="card-block">
                            <p class="card-title text-center"><b>Tên Công Ty</b></p>
                            <p class="card-title"><i class="fas fa-map-marked-alt"></i> Thanh Khê-Đà Năng</p>
                            <p class="card-title"><small class="text-muted"><i class="fas fa-users"></i> 100 Người</small> <small class="text-muted text-center"><i class="far fa-calendar-alt"></i> T2-T6</small></p>
                            <p class="card-title"><small class="text-muted"><i class="fas fa-hand-holding-usd"></i> 8.000.000 vnd</small></p>
                            <button type="submit" class="btn btn-success form-control">Chi Tiết</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="dm">
        <hr class="ke">
        <div class="dm_1">DỊCH VỤ QUẢNG CÁO</div>
    </div>
    <div class="card-deck-wrapper">
        <div class="card-deck muabannha">
            <!-- <div class="row"> -->
            <div class="col-sm-12 col2">
                <div class="card col-sm-3">
                    <a href="detail_dichvuquangcao.html">
                        <img class="card-img-top" src="~/Content/raonhanh/img/tin3.jpg" alt="Card image cap">
                        <div class="card-block">
                            <p class="card-title text-center"><b>Công Ty TNHH TPP</b></p>
                            <p class="card-title"><i class="fas fa-map-marked-alt"></i> Thanh Khê-Đà Năng</p>
                            <p class="card-title"><small class="text-muted">Mặt Hàng: Sản Xuất Thép</small></p>
                            <p class="card-title"><small class="text-muted">Liên Hệ:0981.29.29.67</small></p>
                            <button type="submit" class="btn btn-success form-control">Chi Tiết</button>
                        </div>
                    </a>
                </div>
                <div class="card col-sm-3">
                    <a href="detail_dichvuquangcao.html">
                        <img class="card-img-top" src="~/Content/raonhanh/img/tin3.jpg" alt="Card image cap">
                        <div class="card-block">
                            <p class="card-title text-center"><b>Công Ty TNHH TPP</b></p>
                            <p class="card-title"><i class="fas fa-map-marked-alt"></i> Thanh Khê-Đà Năng</p>
                            <p class="card-title"><small class="text-muted">Mặt Hàng: Sản Xuất Thép</small></p>
                            <p class="card-title"><small class="text-muted">Liên Hệ:0981.29.29.67</small></p>
                            <button type="submit" class="btn btn-success form-control">Chi Tiết</button>
                        </div>
                    </a>
                </div>
                <div class="card col-sm-3">
                    <a href="detail_dichvuquangcao.html">
                        <img class="card-img-top" src="~/Content/raonhanh/img/tin3.jpg" alt="Card image cap">
                        <div class="card-block">
                            <p class="card-title text-center"><b>Công Ty TNHH TPP</b></p>
                            <p class="card-title"><i class="fas fa-map-marked-alt"></i> Thanh Khê-Đà Năng</p>
                            <p class="card-title"><small class="text-muted">Mặt Hàng: Sản Xuất Thép</small></p>
                            <p class="card-title"><small class="text-muted">Liên Hệ:0981.29.29.67</small></p>
                            <button type="submit" class="btn btn-success form-control">Chi Tiết</button>
                        </div>
                    </a>
                </div>
                <div class="card col-sm-3">
                    <a href="detail_dichvuquangcao.html">
                        <img class="card-img-top" src="~/Content/raonhanh/img/tin3.jpg" alt="Card image cap">
                        <div class="card-block">
                            <p class="card-title text-center"><b>Công Ty TNHH TPP</b></p>
                            <p class="card-title"><i class="fas fa-map-marked-alt"></i> Thanh Khê-Đà Năng</p>
                            <p class="card-title"><small class="text-muted">Mặt Hàng: Sản Xuất Thép</small></p>
                            <p class="card-title"><small class="text-muted">Liên Hệ:0981.29.29.67</small></p>
                            <button type="submit" class="btn btn-success form-control">Chi Tiết</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>