@model NetCore.Models.EntitiesFramework.Contact

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
        #map {
            height: 300px;
        }
    </style>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/studio/css/css.css" rel="stylesheet">
    <link href="~/Content/studio/css/css1.css" rel="stylesheet">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Photobooth - Contacts</title>
    <link rel="stylesheet" href="~/Content/studio/css/kube.css">
    <link rel="stylesheet" href="~/Content/studio/font/font-awesome.css">
    <link rel="stylesheet" href="~/Content/studio/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/studio/css/style.css">
    <script async="" src="~/Content/studio/js/js.js"></script>
</head>
<body cz-shortcut-listen="true">

    <header class="photobooth_header">
        <div class="photobooth_container">
            <div class="row">

                <div class="col col-12 photobooth_def_header">
                    <div class="photobooth_logo_cont">
                        <a href="/" class="photobooth_image_logo">

                        </a>
                    </div>
                    <div class="partialContents photobooth_black" data-url="@Url.Content("~/Home/GetMenuStudio/1")">
                        <img src="~/Content/dist/img/loading.gif" />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="mobile_header ">
                    <a href="/" class="photobooth_image_logo"><!-- <img src="img/logo-black.png" alt=""> --></a>
                    <a href="javascript:void(0)" class="btn_mobile_menu">
                        <span class="photobooth_menu_line1"></span>
                        <span class="photobooth_menu_line2"></span>
                        <span class="photobooth_menu_line3"></span>
                    </a>
                </div>
            </div>
        </div>
    </header>


    <div class="photobooth_price">
        <div class="row">
            <div class="col col-12 photobooth_content">
                <div class="photobooth_price_img"></div>
                <div class="photobooth_container photobooth_price_block">
                    <div class="photobooth_anim_block_top_fade photobooth_hidden">
                        @*<h1 class="">Chọn 1 gói</h1>*@
                        @*<div class=" photobooth_title_text">Fill out and submit the form below to start booking a session with me.</div>*@
                    </div>
                    <div class="row photobooth_anim_block_top_fade photobooth_hidden">
                        <div class="col col-4">
                            <div class="photobooth_price_item">
                                <h6>PORTRAIT</h6>
                                <div class="photobooth_price_item_rpice">
                                    <sup>$</sup>
                                    <span class="">200</span>
                                </div>
                                <ul>
                                    <li>5 Photos</li>
                                    <li>Makeup</li>
                                    <li>Stylist</li>
                                </ul>
                                <a class="photobooth_button" href="#">Chọn</a>

                            </div>
                        </div>
                        <div class="col col-4">
                            <div class="photobooth_price_item photobooth_price_item_popular">
                                <h6>WEDDING</h6>
                                <div class="photobooth_price_item_rpice">
                                    <sup>$</sup>
                                    <span class="">250</span>
                                    <sub>/hour</sub>
                                </div>
                                <ul>
                                    <li>250+ Photos</li>
                                    <li>Video Clip (~5 minutes)</li>
                                    <li>30 Disk-Copies for Your Guests</li>
                                </ul>
                                <a class="photobooth_button" href="#">Chọn</a>
                                <span class="photobooth_popular_label">POPULAR</span>
                            </div>
                        </div>
                        <div class="col col-4">
                            <div class="photobooth_price_item">
                                <h6>FAMILY PHOTO SESSION</h6>
                                <div class="photobooth_price_item_rpice">
                                    <sup>$</sup>
                                    <span class="">500</span>
                                </div>
                                <ul>
                                    <li>20 Photos</li>
                                    <li>Toys for Little Children</li>
                                    <li>Stylist and Makeup</li>
                                </ul>
                                <a class="photobooth_button" href="#">Chọn</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="photobooth_client_contacts photobooth_anim_block_top_fade photobooth_hidden">
                    <div class="photobooth_container">

                        <div class="row gutters">
                            <div class="col col-12 text-center">
                                <blockquote>
                                    <p>Để lại tin nhắn cho chúng tôi</p>
                                </blockquote>
                            </div>
                            <div class="col col-3">
                                
                            </div>
                            <div class="col col-6">
                                <div class="photobooth_form_block">
                                    <form action="~/Home/CreateContact" method="post" class="photobooth_form">
                                        <input type="text" class="form_user-name " name="name" placeholder="Tên *" required>
                                        <input type="email" class="form_email" name="email" placeholder="Email *">
                                        <input type="text" class="form_email" name="phone" placeholder="Phone * " required>
                                        <textarea class="form_comment" name="message" placeholder="Tin nhắn"></textarea>
                                        <input class="" type="submit" value="Send Message">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="photobooth_footer ">
        <div class="row">
            <div class="col col-12">
                <div class="photobooth_copy_text">Copyright © @DateTime.Now.Year @ViewBag.SiteId. All Rights Reserved.</div>
            </div>
        </div>
    </footer>
    <script src="~/Content/studio/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/studio/js/js.js"></script>
    <script src="~/Content/studio/js/site.js"></script>
    <script src="~/Content/studio/js/jquery.viewportchecker.min.js"></script>
</body>
</html>